# SERVER CONFIGURATION
ENVIRONMENT=development
DEBUG=true
PROJECT_NAME="Atheer AI Smart City"
API_V1_STR="/api/v1"

# SECURITY & JWT
SECRET_KEY="CHANGE_THIS_TO_A_SUPER_SECRET_RANDOM_STRING_IN_PRODUCTION"
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM="HS256"

# DATABASE CONFIGURATION
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=atheer_db
POSTGRES_USER=atheer_user
POSTGRES_PASSWORD=atheer_password_secure
DATABASE_URL=postgresql+asyncpg://atheer_user:atheer_password_secure@db:5432/atheer_db

# REDIS CACHE
REDIS_HOST=redis
REDIS_PORT=6379

# AI INFERENCE
MODEL_PATH="/app/ai_engine/models/arabert_int8.onnx"
TOKENIZER_NAME="aubmindlab/bert-base-arabertv02"