# =========================
# Python & Environment
# =========================
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/
.env
*.env

# =========================
# Flutter & Frontend
# =========================
frontend/.packages
frontend/.pub/
frontend/build/
frontend/.dart_tool/

# =========================
# Docker & Logs
# =========================
docker-compose.override.yml
*.log

# Docker
.dockerignore
# =========================
# AI & Data
# =========================
ai_engine/models/*.onnx
ai_engine/data/raw/*.csv
ai_engine/data/processed/*
qdrant_local_data/
reset_qdrant.py

# =========================
# OS & IDE (VSCode, PyCharm, Mac, Windows)
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Databases & MLOps Experiments
# =========================
*.db
*.sqlite3
mlruns/
data/